# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
cms/node_modules/
cms/.pnp
cms/.pnp.js
cms/.yarn/install-state.gz

cms/.idea/*
!cms/.idea/runConfigurations

# testing
cms/coverage

# next.js
cms/.next/
cms/out/

# production
cms/build

# misc
cms/.DS_Store
cms/*.pem

# debug
cms/npm-debug.log*
cms/yarn-debug.log*
cms/yarn-error.log*

# local env files
cms/.env*.local

# vercel
cms/.vercel

# typescript
cms/*.tsbuildinfo
cms/next-env.d.ts

cms/.env

cms/media

# Playwright
cms/test-results/
cms/playwright-report/
cms/blob-report/
cms/playwright/.cache/
.vercel
