# Temporarily disable workspace for EAS build testing
# enable-pre-post-scripts=false
# package-manager-strict=true

# Try bypassing workspace altogether for troubleshooting
shamefully-hoist=true
node-linker=hoisted